<h1>Admin Dashboard</h1>
<p>Welcome to the admin dashboard. Please select an option below:</p>

<div class>
  <a class="btn btn-success gym__item"  asp-controller="Admin" asp-action="EditRoles">Edit Roles</a>
  <a class="btn btn-success gym__item" asp-controller="Admin" asp-action="EditAccessory">Edit Accessories</a>
  <a class="btn btn-success gym__item" asp-controller="Admin" asp-action="EditSport">Edit Sports</a>
  <a class="btn btn-success gym__item" asp-controller="Admin" asp-action="AllUsers">All Users</a>
  <a class="btn btn-success gym__item" asp-controller="Gym" asp-action="AllGyms">All Gyms</a>
  <a class="btn btn-success gym__item" asp-controller="Admin" asp-action="Report">Report</a>
</div>