@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Site of booking gyms</h1>
    <div class="home__container">
        <div>
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan nisi aliquet orci tempus, at ullamcorper ante fringilla. Phasellus tempor tincidunt diam. Aliquam bibendum malesuada nisl a accumsan. Sed turpis odio, lacinia eu scelerisque vitae, cursus quis purus. Cras pretium sollicitudin placerat. Aliquam aliquam, ante quis euismod auctor, nulla neque bibendum turpis, eu dictum nunc lectus at ligula. Integer molestie enim in dolor congue, scelerisque dapibus mauris pulvinar. Donec rutrum nunc ut eros porttitor tincidunt. Integer consequat nec arcu sit amet rutrum. Nullam euismod purus ex, egestas tincidunt justo auctor sed. Nullam tempus pulvinar tortor, quis porta tellus sagittis laoreet. Proin lobortis quam sit amet lacus laoreet auctor. Praesent rutrum odio eget neque sollicitudin, vel semper mi sagittis. Curabitur sollicitudin nunc quis lorem iaculis elementum. Cras varius lectus eu libero imperdiet eleifend. Proin id mauris eu odio bibendum pretium.</p>
               
        </div>

    </div>
</div>
