@model List<WebApplication2.Models.Region>

@{
}

<select class="selection__gyms" id="regionSelect" onchange="loadCities()">
    <option value="">Select a region</option>
    @foreach (var region in Model)
    {
        <option value="@region.id">@region.name</option>
    }
</select>
<select class="selection__gyms" id="citySelect" onchange="loadGyms()">
    <option value="">Select a city</option>
</select >
    <div id="gyms">

    </div>
<script>
function loadCities() {
    var regionId = $('#regionSelect').val();
    $.ajax({
        type: "GET",
        url: "/City/GetCitiesByRegion",
        data: { region_id: regionId },
        success: function (result) {
            $('#citySelect').empty();
            $('#citySelect').append($('<option>',{text: "Select a city"}));
            $.each(result, function (i, city) {
                $('#citySelect').append($('<option>', {
                    value: city.id,
                    text: city.name
                }));
            });
        }
    });
}

function loadGyms() {
    var cityId = $('#citySelect').val();
    
    $.ajax({
        type: "GET",
        url: "/Gym/Index",
        data: { id: cityId },
        success: function (result) {
                        $('#gyms').empty();
            console.log(result);
            if(result.length==0){
                console.log(result);
              var html = '<div>nothing</div>'
               $('#gyms').append(html);
            }
            else{

            $.each(result, function (i, gym) {
                var html = '<div class="gym__flex">';
                html += '<div class="cart__flex">';
                html += '<h3 class="cart__title">' + gym.name + '</h3>';
                html += '<p class="cart__price">' + gym.price + '</p>';
                html += '</div>';
                html += '<div class="cart__center">';
                html += '<p>' + gym.description + '</p>';
                html += '</div>';
                html += '<div class="cart__flex">';
                html += '<p>' + gym.adress + '</p>';
                html += '<p><a href="Gym/GymDetails/'+gym.id+'">View</a></p>';
                html += '</div>';
                html += '</div>';
                $('#gyms').append(html);
            });}
        }
    });
}


</script>