@model List<WebApplication2.Models.Region>

@{
}

<select class="selection__gyms" id="regionSelect" onchange="loadCities()">
    <option value="">Select a region</option>
    @foreach (var region in Model!)
    {
        <option value="@region.id">@region.name</option>
    }
</select>
<select class="selection__gyms" id="citySelect" onchange="loadGyms()">
    <option value="">Select a city</option>
</select >
    <div id="gyms">

    </div>
<script>
function loadCities() {
    var regionId = $('#regionSelect').val();
    $.ajax({
        type: "GET",
        url: "/City/GetCitiesByRegion",
        data: { region_id: regionId },
        success: function (result) {
            $('#citySelect').empty();
            $('#citySelect').append($('<option>',{text: "Select a city"}));
            $.each(result, function (i, city) {
                $('#citySelect').append($('<option>', {
                    value: city.id,
                    text: city.name
                }));
            });
        }
    });
}

function loadGyms() {
    var cityId = $('#citySelect').val();
    
    $.ajax({
        type: "GET",
        url: "/Gym/Index",
        data: { id: cityId },
        success: function (result) {
                        $('#gyms').empty();
            console.log(result);
            if(result.length==0){
                console.log(result);
              var html = '<div>nothing</div>'
               $('#gyms').append(html);
            }
            else{

            $.each(result, function (i, gym) {
      var gymCard = `
        <div class="card">
          <div class="card-header">
            <h4>${gym.name}</h4>
          </div>
          <div class="card-body">
            <p class="card-text"><strong>Description:</strong> ${gym.description}</p>
            <p class="card-text"><strong>Address:</strong> ${gym.adress}</p>
            <p class="card-text"><strong>Worktime:</strong> ${gym.startwork}:00 - ${gym.endwork}:00</p>
            <p class="card-text"><strong>Price:</strong> ${Intl.NumberFormat('uk-UA', { style: 'currency', currency: 'UAH' }).format(gym.price)}</p>
            <a href="/Gym/GymDetails/${gym.id}" class="btn btn-primary">View Gym</a>
          </div>
        </div>
      `;
      
      // Append gym card HTML to target element
      $('#gyms').append(gymCard);
            });}
        }
    });
}


</script>