@model List<WebApplication2.Models.Region>

@{
}

<select id="regionSelect" onchange="loadCities()">
    <option value="">Select a region</option>
    @foreach (var region in Model)
    {
        <option value="@region.id">@region.name</option>
    }
</select>
<select id="citySelect" onchange="loadGyms()">
    <option value="">Select a city</option>
</select>
<table class="table">
    <thead>
        <tr>
            <th>GymId</th>
            <th>GymName</th>
            <th>GymDesc</th>
            <th>GymAddress</th>
            <th>GymPrice</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="gyms">

    </tbody>
</table>
<script>
function loadCities() {
    var regionId = $('#regionSelect').val();
    $.ajax({
        type: "GET",
        url: "/City/GetCitiesByRegion",
        data: { region_id: regionId },
        success: function (result) {
            $('#citySelect').empty();
            $('#citySelect').append($('<option>',{text: "Select a city"}));
            $.each(result, function (i, city) {
                $('#citySelect').append($('<option>', {
                    value: city.id,
                    text: city.name
                }));
            });
        }
    });
}

function loadGyms() {
    var cityId = $('#citySelect').val();
    
    $.ajax({
        type: "GET",
        url: "/Gym/Index",
        data: { id: cityId },
        success: function (result) {
                        $('#gyms').empty();
            console.log(result);
            if(result.length==0){
                console.log(result);
              var html = '<div>nothing</div>'
               $('#gyms').append(html);
            }
            else{

            $.each(result, function (i, gym) {
                var html = '<tr>';
                html += '<td>' + gym.id + '</td>';
                html += '<td>' + gym.name + '</td>';
                html += '<td>' + gym.description + '</td>';
                html += '<td>' + gym.adress + '</td>';
                html += '<td>' + gym.price + '</td>';
                html += '<td><a href="Gym/GymDetails/'+gym.id+'">View</a></td>';
                html += '</tr>';
                $('#gyms').append(html);
            });}
        }
    });
}


</script>