@model WebApplication2.Models.AddGym


<h2>Add Gym</h2>

<form asp-controller="Gym" asp-action="AddGym" method="post">
    <label asp-for="city_id" class="control-label"></label>
    <select asp-for="city_id" class="form-control">
        <option value="">-- Select a city --</option>
        @foreach (var city in ViewBag.Cities)
        {
            <option value="@city.Value">@city.Text</option>
        }
    </select>
    <div class="form-group">
        <label asp-for="name"></label>
        <input type="text" asp-for="name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="adress"></label>
        <input type="text" asp-for="adress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="description"></label>
        <textarea asp-for="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


