@model WebApplication2.Models.Gym

@{
}

<h2>Edit Gym</h2>

<form asp-action="EditGym" method="post">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="name"></label>
        <input type="text" asp-for="name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="adress"></label>
        <input type="text" asp-for="adress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="description"></label>
        <textarea asp-for="description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
